<launch>

    <arg name="stream" default="false" />
    <arg name="bag_filename" default="" />


    <node name="lidar" pkg="lidar" type="streamer.py">
        <param name="stream" value="$(arg stream)" />
        <param name="bag_filename" value="$(arg bag_filename)" />
     
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find lidar)/rviz/pointcloud.rviz" required="true" />


    
</launch>